<div id=loginForm class=form>
  <h1>Log In</h1>

  <h2 style='color:red'>
    <%= flash[:error] %>
  </h2>

  <%= form_tag session_path, :remote => true do -%>
    <%= text_field_tag 'login', @login, :value => 'Username', :onfocus => 'util.removeText(\'#login\', \'Username\')', :onblur => 'util.addText(\'#login\', \'Username\')', :class => 'text-grey', :style => 'text-align:center' %></p>

  <p><%= label_tag 'password' %><br/>
  <%= password_field_tag 'password', nil, :style => 'text-align:center' %></p>

  <div class='actions'>
    <p><%= submit_tag 'Log in', :onclick => 'toolbar.close()' %></p>
  </div>
  <% end -%>
  <img src='/assets/close.png' class=closeButton id=closeButton onclick='toolbar.close()'></img>
</div>
