<%= form_for([@group, @document, @document.comments.build], :remote=>true) do |f| %> 
  <h2>Add a new comment</h2>
  <div class="field">
    <%= f.text_area :body, :rows => 10%>
  </div>
  <div class='field' id=comment-page style='display:none'>
    <%= f.text_field :page %>
  </div>
  <div class='field' id=comment-offset style='display:none'>
    <%= f.text_field :offset%>
  </div>
  <div class="actions" onclick=toolbar.close()>
    <%= f.submit %>
  </div>
<% end %>

