<tr class=table_row id=group<%= @group.id %>>
  <td class=idCol><%= @group.id %></td>
  <td class=leftCol><%= @group.name %><span id=inline-delete class=inline-button title='Delete group' onclick=toolbar.delete()> </span><span id=inline-members class=inline-button title='Manage members' onclick=toolbar.members(<%= @group.id %>)> </span></td>
  <td><%= render 'layouts/time', :time => @group.updated_at, :editor => @group.editor %></td>
</tr>
