<%= form_for([@group, @group.documents.build], :remote=>true) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br/>
    <%= f.text_area :url%>
  </div>
  <div class="actions" onclick=toolbar.close()>
    <%= f.submit %>
  </div>
<% end %>

