<!DOCTYPE html>
<html>
<head>
  <title>Docs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://js.pusher.com/1.11/pusher.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Aclonica' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css" type="text/css" media="all">
</head>
<body>
  <div id=overlay style='opacity:0; display:none'></div>
  <div id=formContainer style='display:none'></div>
  <% if current_user %>
    <div id=user-login style='display:none'><%= current_user.id%></div>
  <% end %>
  <div id=container>
    <div id=header style='background-attachment:scroll'>
      <div class=centered style='height:100%; position:relative'>
        <a href='/' id=logo>Dockt</a>
        <div id=headerRight>
          <input type='text' name='search' id='search' size='40' value='Search' class=text-grey>
          <div id=user-info>
            <%= render 'users/user_bar' %>
          </div>
        </div>
      </div>
    </div>
    <div id=breadcrumbs>
      <div class=centered style='height:100%;'> 
        <div id='toolbar'>
          <%= render 'layouts/toolbar' %>
        </div>
      </div>
    </div>
    <div id=content class=centered>
      <%= yield %>
    </div>
  </div>
</body>
</html>
