<!DOCTYPE html>
<html>
<head>
  <title>Docs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id=container>
    <div id=header style='background-attachment:scroll'>
      <div class=centered style='padding-top:22px'>
        <span id=logo>Dockt</span>
        <div id=headerRight>
          <input type='text' name='search' id='search' size='40' value='search'>
          <%= render 'users/user_bar' %>
        </div>
      </div>
    </div>
    <div id=breadcrumbs>
      <div class=centered style='height:100%;'> 
        <div id='toolbar'>
          <%= render 'layouts/toolbar' %>
        </div>
      </div>
    </div>
    <div id=content class=centered>
      <%= yield %>
    </div>
  </div>
  <div id=overlay style='opacity:0; display:none'></div>
  <div id=formContainer style='display:none'></div>
</body>
</html>
